<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mi primera app con vuejs</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
</head>
<body>
    <h1>Documento HTML</h1>
    <div id="miApp">
        {{ mensaje}}
    </div>
    <!-- Ejemplo para trabajar  los escript con vue-->
    <script>
        new Vue({
            el:'#miApp',
            data:{
                mensaje:'Hola Mundo'
            }
        });
    </script>
</body>
</html>