<html>
<head>
    <title>
        curso de Vue.js
    </title>
</head>
<body>
	<div id="app">
		{{ message }}
		{{ number + 2 }}
		{{ isActivy? 'is activy' : 'is not Activy '}}
	</div>
<!--script src="https://unpkg.com/vue"></script-->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="application/javascript">
    let app
</script>
<script type="text/javascript">
	let vm = new Vue({
						el: '#app',
						data:{
							message: 'helloss',
							number: 10,
							isActivy: true
						}
					})
</script>
</body>
</html>